/*#root {*/
/*  margin: 0 auto;*/
/*  max-width: 100%;*/
/*  padding: 1em;*/
/*  text-align: center;*/
/*}*/
.main {
  width: 100vw;
  height: 100vh;
  padding-bottom: 20px;
}
header {
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}
h1 {
  margin: 0;
}
.welcome {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  min-height: 80vh;
  margin: 0 auto;
  button {
    width: 200px;
    margin: 0 auto;
  }
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #211d3f;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
